body {
  width: 510px;
  margin: 4% auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  line-height: normal;
  background-color: rgba(151, 157, 172, 0.4);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.calculator {
  padding: 20px;
  margin-top: 50px;
  background-color: rgb(125, 133, 151);
  box-shadow: 0px 1px 4px 0px rgb(51, 65, 92);
  border-radius: 5px;
}

.buttons {
  padding-left: 10px;
}

.input {
  /* background-color: rgb(227, 242, 253); */
  background-color: rgba(237, 237, 233,0.8);
  /* border: 2px solid rgba(227, 242, 253, 0.2) ;*/
  border: 1px solid rgb(237, 237, 233);
  border-radius: 1px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-top: 10px;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all .2s ease-in-out;
}

.input:hover {
  border: 1px solid #bbb;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators div {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover {
  background-color: #ddd;

  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operators div:active {
  font-weight: bold;
}

.leftPanel {
  display: inline-block;
}

.numbers div {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.numbers div:active {
  font-weight: bold;
}

div.equal {
  display: inline-block;
  border: 1px solid #2196F3;
  border-radius: 1px;
  width: 17%;
  text-align: center;
  padding: 123px 10px;
  margin: 10px 0px;
  vertical-align: top;
  cursor: pointer;
  color: #FFF;
  background-color: #64B5F6;
  transition: all .2s ease-in-out;
}

div.equal:hover {
  background-color: #42A5F5;
  /* -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #1857BB;
}

div.equal:active {
  font-weight: bold;
}